<html>
    <body>
        <table border="1px">
           <tr>
               <td>Id</td>
               <td>Nome</td>
           </tr> 
           <tr>
                <td>1</td>
                <td>livro de node</td>
            </tr> 
        </table>
    </body>
</html>